<p>{{title}}</p>
<input type="text" (input)="changeListener($event)" value={{name}}>
<input type="text" (keyup.f2)="changeListenerKey($event)" value={{name}}>
<p>{{name}} {{name}}</p>
<br>
<p>{{arr}}</p>
<ul>
	<li *ngFor="let item of arr; let idx = index"> {{idx + 1}} {{item}}</li>
</ul>
<div [ngSwitch]="toggle">
  <p *ngSwitchCase="true" class="red">Lorem ipsum.</p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum. Lorem ipsum.</p>
  <p *ngSwitchDefault>Lorem ipsum.</p>
</div>

<p>{{obj.c.d}}</p>





