<div class="form-group">
  <label>Введіть суму:</label>
  <input class="form-control" (change)="changeValue($event.target.value)"  name="inputValue" [(ngModel)]="inputValue" />

  <label>Міняємо валюту</label>
  <select class="form-control" name="inputCurrency" (change)="changeCurrency($event.target.value, 'buy')" [(ngModel)]="inputCurrency">
      <option  *ngFor="let data of dataInputArray" [value]="data.ccy">
          {{data.ccy}}
      </option>
  </select>
  <label>Отримуємо валюту</label>
  <select class="form-control" name="outCurrency" (change)="changeCurrency($event.target.value, 'sale')" [(ngModel)]="outCurrency">
      <option  *ngFor="let data of dataOutArray" [value]="data.ccy">
          {{data.ccy}}
      </option>
  </select>
  <h1>
    {{outValue}}
  </h1>
  <div [hidden]="hideServerError" class="error">
    <h2>
      Запит до сервара пройшов невдало! Спробуйте ще раз!
    </h2>
    <button (click)="tryAgane()" >Спобувати ще раз!</button>
  </div>
</div>