body {
  /*background: blue;*/
}

#blockForAnimate, #blockForAnimate2, #draggable {
  background: #888;
  width: 300px;
  height: 300px;
  /*display: none;*/
}

/*#blockForAnimate2 {
  height: 10px;
}*/

#game td{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  text-align: center;
  font-size: 50px;
}